<html>
<body>
<head>
<title>IMography</title>
</head>
<h1>Welcome to IMography</h1>
<ul><li><a href="/upload/"> Upload a file</a></li>
</ul>
<p>Don't have any logs?  You can look at some of mine!<p>
<ul>
<li><a href="/data/4db48f880847b04da5e4bcf6fd6f06aa/">Cactus for pants</a></li>
<li><a href="/data/aeaf83f6846511690202c1395f662945/">Chucklo</a></li>
<li><a href="/data/98f2bd0807dde324d08f8e53e701bc30/">Psychetician</a></li>
<li><a href="/data/5c08890533c0d38e73ab2689660ef000/">kakodaemon</a></li>
</ul>
</body>
</html>